# -----------------------------------------------------------------------------
# Staging Environment - terraform.tfvars.example
# Copy this file to terraform.tfvars and fill in the values
# -----------------------------------------------------------------------------

# General
project_name = "data-platform"
environment  = "stg"
owner        = "data-engineering"

# AWS
aws_region               = "eu-west-1"
aws_vpc_cidr             = "10.10.0.0/16"
aws_private_subnet_cidrs = ["10.10.1.0/24", "10.10.2.0/24", "10.10.3.0/24"]
aurora_instance_class    = "db.r6g.large"
aurora_instance_count    = 2
aurora_backup_retention  = 14
aurora_engine_version    = "15.4"
redshift_node_type       = "ra3.xlplus"
redshift_number_of_nodes = 2
msk_instance_type        = "kafka.m5.large"
msk_number_of_brokers    = 3
msk_ebs_volume_size      = 500

# Azure
azure_subscription_id    = "00000000-0000-0000-0000-000000000000"
azure_region             = "westeurope"
azure_vnet_cidr          = "10.11.0.0/16"
cosmosdb_max_throughput  = 10000
cosmosdb_geo_replication = false
synapse_sql_pool_sku     = "DW200c"
synapse_spark_node_count = 5
eventhubs_capacity       = 2

# GCP
gcp_project_id            = "my-gcp-project-id"
gcp_region                = "europe-west1"
gcp_vpc_cidr              = "10.12.0.0/16"
cloudsql_tier             = "db-custom-4-16384"
cloudsql_ha_enabled       = false
cloudsql_backup_retention = 14
cloudsql_read_replicas    = 1
dataflow_machine_type     = "n1-standard-4"
dataflow_max_workers      = 2
